# Tabela 2 de levantamento de dados

In [5]:
import os
import pandas as pd

In [6]:
pasta = os.getcwd()

pasta = os.path.join(pasta, "..")

arquivo_excel = os.path.join(pasta, "Participants - Info - Teste.xlsx")

sheets = pd.ExcelFile(arquivo_excel).sheet_names

In [7]:
arquivos_docx = []

for nome_arquivo in os.listdir(pasta):
    if nome_arquivo.endswith(".docx"):
        arquivos_docx.append(nome_arquivo)

## Total de homens e mulheres com entrevistas transcritas

In [8]:
contagem = 0
entrevista_genero_local = {
}

local_abrev = {
    'SPA' : 'Anchieta',
    'SPP' : 'Paraisópolis',
    'SPU' : 'União',
    'BHT' : 'Taquaril',
    'BHV' : 'Vitória'
}

for doc in arquivos_docx:
    if 'Interview' in doc:
        contagem +=1
        if 'BHV62' in doc:
            excel = pd.read_excel(arquivo_excel, sheet_name=codigo, header=None)
        else:
            codigo = (doc[11:16])
            excel = pd.read_excel(arquivo_excel, sheet_name=codigo, header=None)
        genero = excel.iloc[10,2]

        local_abrev_codigo = codigo[:3]
        local_nome = local_abrev.get(local_abrev_codigo, 'Desconhecido')
        chave = f'{local_nome} {genero}'
        if chave in entrevista_genero_local:
            entrevista_genero_local[chave] += 1
        else:
            entrevista_genero_local[chave] = 1

entrevista_genero_local = pd.DataFrame(list(entrevista_genero_local.items()), columns=['Local e genero', 'Quantidade'])

print(entrevista_genero_local)

          Local e genero  Quantidade
0  Paraisópolis Feminino           9
1         União Feminino          11
2       Paraisópolis nan           1
3      Anchieta Feminino           8
4       Vitória Feminino          17
5      Vitória Masculino           2
6      Taquaril Feminino          12
7     Anchieta Masculino           1

## Total de homens e mulheres nos grupos focais

In [9]:
GF_genero_local = {}

local_abrev = {
    'SPA' : 'Anchieta',
    'SPP' : 'Paraisópolis',
    'SPU' : 'União',
    'BHT' : 'Taquaril',
    'BHV' : 'Vitória'
}

for sheet in sheets:
    if sheet != 'PSEUDONYMS':
        dados = pd.read_excel(arquivo_excel, sheet_name=sheet, header=None)
        dados = pd.DataFrame(dados)

        local = dados.iloc[3,2]
        GF = dados.iloc[5,2]
        genero = dados.iloc[10,2]

        chave = f'{local} {genero} {GF}'
        if chave in GF_genero_local:
            GF_genero_local[chave] += 1
        else:
            GF_genero_local[chave] = 1

GF_genero_local = pd.DataFrame(list(GF_genero_local.items()), columns=['Local, genero e GF', 'Quantidade'])

GF_genero_local['Local, genero e GF'] = GF_genero_local['Local, genero e GF'].replace({
    'União de Vila Nov Feminino 2': 'União de Vila Nova Feminino 2',
    'União Feminino 1': 'União de Vila Nova Feminino 1'
})

GF_genero_local = GF_genero_local.groupby('Local, genero e GF').sum().reset_index()

GF_genero_local

                   Local, genero e GF  Quantidade
0                 Anchieta Feminino 1           7
1                 Anchieta Feminino 2           5
2                Anchieta Masculino 2           1
3         Ocupação Vitória Feminino 1           5
4         Ocupação Vitória Feminino 2           5
5   Ocupação Vitória Feminino 2 meses           1
6       Ocupação Vitória Feminino nan           1
7        Ocupação Vitória Masculino 1           1
8        Ocupação Vitória Masculino 2           1
9             Paraisópolis Feminino 1           5
10            Paraisópolis Feminino 2           5
11           Paraisópolis Masculino 1           1
12                 Paraisópolis nan 2           1
13                Taquaril Feminino 1           7
14                Taquaril Feminino 2           8
15      União de Vila Nova Feminino 1           8
16      União de Vila Nova Feminino 2           6

## Total de homens e mulheres que fizeram diário

In [10]:
genero_local_diarios = {}

for sheet in sheets:
    dados = pd.read_excel(arquivo_excel, sheet_name=sheet, header=None)
    dados = pd.DataFrame(dados)    
    caminho_arquivo = os.path.join(pasta, f"{sheet}.pdf")
        
    if os.path.exists(caminho_arquivo):
        genero = dados.iloc[10,2]
        local = dados.iloc[3,2]

        chave = f'{local} {genero}'
        if chave in genero_local_diarios:
            genero_local_diarios[chave] += 1
        else:
            genero_local_diarios[chave] = 1
        
genero_local_diarios = pd.DataFrame(list(genero_local_diarios.items()), columns=['Local, genero e diarios', 'Quantidade'])

genero_local_diarios['Local, genero e diarios'] = genero_local_diarios['Local, genero e diarios'].replace({
    'União de Vila Nov Feminino': 'União de Vila Nova Feminino',
    'União Feminino': 'União de Vila Nova Feminino'
})

genero_local_diarios = genero_local_diarios.groupby('Local, genero e diarios').sum().reset_index()

genero_local_diarios

       Local, genero e diarios  Quantidade
0            Anchieta Feminino          12
1           Anchieta Masculino           1
2    Ocupação Vitória Feminino          12
3   Ocupação Vitória Masculino           2
4        Paraisópolis Feminino          10
5       Paraisópolis Masculino           1
6             Paraisópolis nan           1
7            Taquaril Feminino          13
8  União de Vila Nova Feminino          13

## A comunidade possui hortas orgâncias comunitárias?